<?xml version="1.0" encoding="UTF-8"?>
<!-- xsd tag :: this is use to validate the grammer of the written tags and validate the tags are correct or not -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mathCheatObjectValue" class="com.seleniumexpress.di.MathCheat"></bean>
	
	<bean id="scienceCheatObjectValue" class="com.seleniumexpress.di.ScienceCheat"></bean>
	
	<bean id="javaCheatObjectValue" class="com.seleniumexpress.di.JavaCheat"></bean>
	
	<bean id="stu" class="com.seleniumexpress.di.Student" >
		
			<property name="cheat" ref="javaCheatObjectValue"/>
			
	</bean>
	
</beans>
	