<?xml version="1.0" encoding="UTF-8"?>
<!-- xsd tag :: this is use to validate the grammer of the written tags and validate the tags are correct or not -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sim" class="com.selniumexpress.ioc.Jio"></bean>
	
	
	
</beans>